* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  color: #333;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border: 0;
}

code {
  font-family: monospace;
  font-size: 1em;
}

button {
  overflow: visible;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

input, textarea, select {
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: normal;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.w-button:hover {
  background-color: #2d7bc0;
}

.w-block {
  display: block;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
}

.w-clearfix:after {
  clear: both;
}

.w-hidden {
  display: none;
}
